body,
h1,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #084af1e6;
  color: #fff;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.posts {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
}

p {
  margin-top: 10px;
  color: #fff;
  text-align: left;
}

.posts p:last-child {
  font-style: italic;
  color: #888;
  text-align: left;
}

form {
  margin-top: 10px;
  text-align: right;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

/* Add hover effect */
input[type="submit"]:hover {
  background-color: #f00808;
  color: #fff;
}

input[type="datetime-local"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
