<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog post</title>
    <link rel="stylesheet" th:href="@{/css/postDetail.css}">
</head>

<body th:object="${post}">
    <div class="post">
        <h1 class="post-author">
            Post by <span th:text="*{author.name}">John Doe</span>
        </h1>
        <p class="post-content" th:text="*{content}">This is a post.</p>
        <p class="post-timestamp">
            Post created at: <span th:text="${post.timestamp}">John Doe</span>
        </p>
        <ul class="comments">
            <li th:each="comment : ${commentList}">
                <div class="comment">
                    <p class="comment-content" th:text="${comment.content}">This is a comment.</p>
                    <p class="comment-details">
                        By: <span th:text="${comment.user.name}">John Doe</span>
                        <br>
                        Created at: <span th:text="${comment.timestamp}">John Doe</span>
                    </p>
                </div>
            </li>
        </ul>
        <div class="post-actions">
            <div class="like-action">
                <form method="post" action="#" th:action="@{/forum/post/{id}/like(id = ${post.id})}">
                    <input type="hidden" th:name="likerName" th:value="${likerName}" />
                    <button class="like-button">Like</button>
                </form>
                <p class="like-count">Likes: <span th:text="${likeCount}">0</span></p>
            </div>
            <div class="comment-action">
                <form method="post" action="#" th:action="@{/forum/post/{id}/comment(id=${post.id})}" th:object="${commentForm}">
                    <label for="commentContent">Add a Comment:</label>
                    <textarea id="commentContent" th:field="*{content}" placeholder="Write a comment..."></textarea>
                    <button class="comment-button">Comment</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
